USE [PRJ301_SE1650]
GO
USE [PRJ301_SE1650]
GO
/****** Object:  Table [dbo].[Account_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE161914](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[role] [int] NOT NULL,
	[phone] [int] NULL,
	[address] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Account_HE161914] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_HE161914](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[cid] [nvarchar](50) NOT NULL,
	[bname] [nvarchar](250) NOT NULL,
	[author] [nvarchar](250) NOT NULL,
	[image] [nvarchar](max) NULL,
	[pid] [nvarchar](50) NOT NULL,
	[quantity] [int] NULL,
	[describe] [nvarchar](max) NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK__Book_HE1__3DE0C2271D91BD49] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_HE161914](
	[cid] [nvarchar](50) NOT NULL,
	[cname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_HE161914](
	[oid] [int] IDENTITY(1,1) NOT NULL,
	[aid] [int] NOT NULL,
	[date] [date] NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [PK_Order_HE161914] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail_HE161914](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oid] [int] NOT NULL,
	[bid] [int] NOT NULL,
	[quanity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[total] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher_HE161914]    Script Date: 11/10/2022 8:36:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher_HE161914](
	[pid] [nvarchar](50) NOT NULL,
	[pname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_HE161914] ON 

INSERT [dbo].[Account_HE161914] ([id], [username], [email], [pass], [role], [phone], [address], [avatar]) VALUES (1, N'Bee', N'bcowlin3@woothemes.com', N'Cowlin', 1, 123456789, N'thanh hoa', N'https://haycafe.vn/wp-content/uploads/2021/11/Anh-avatar-dep-chat-lam-hinh-dai-dien.jpg')
INSERT [dbo].[Account_HE161914] ([id], [username], [email], [pass], [role], [phone], [address], [avatar]) VALUES (3, N'test3', N'odibsdale2@newsvine.com', N'pass3', 0, 123456789, N'ha tinh ', N'https://khoinguonsangtao.vn/wp-content/uploads/2022/07/avatar-cute-2.jpg')
SET IDENTITY_INSERT [dbo].[Account_HE161914] OFF
GO
SET IDENTITY_INSERT [dbo].[Book_HE161914] ON 

SET IDENTITY_INSERT [dbo].[Book_HE161914] OFF
GO
INSERT [dbo].[Category_HE161914] ([cid], [cname]) VALUES (N'1', N'Sách Kĩ Năng')
INSERT [dbo].[Category_HE161914] ([cid], [cname]) VALUES (N'2', N'Sách Kinh Doanh')
INSERT [dbo].[Category_HE161914] ([cid], [cname]) VALUES (N'3', N'Sách Văn Học')
GO
SET IDENTITY_INSERT [dbo].[Order_HE161914] ON 

INSERT [dbo].[Order_HE161914] ([oid], [aid], [date], [total]) VALUES (1, 12, CAST(N'2022-11-09' AS Date), 160000)
SET IDENTITY_INSERT [dbo].[Order_HE161914] OFF
GO
INSERT [dbo].[Publisher_HE161914] ([pid], [pname]) VALUES (N'1', N'Saigon Books')
INSERT [dbo].[Publisher_HE161914] ([pid], [pname]) VALUES (N'2', N'Quân Đội')
INSERT [dbo].[Publisher_HE161914] ([pid], [pname]) VALUES (N'3', N'Thanh Niên')
GO
ALTER TABLE [dbo].[Book_HE161914]  WITH CHECK ADD  CONSTRAINT [FK_Categories_HE161914] FOREIGN KEY([cid])
REFERENCES [dbo].[Category_HE161914] ([cid])
GO
ALTER TABLE [dbo].[Book_HE161914] CHECK CONSTRAINT [FK_Categories_HE161914]
GO
ALTER TABLE [dbo].[Book_HE161914]  WITH CHECK ADD  CONSTRAINT [FK_PublisherID_HE161914] FOREIGN KEY([pid])
REFERENCES [dbo].[Publisher_HE161914] ([pid])
GO
ALTER TABLE [dbo].[Book_HE161914] CHECK CONSTRAINT [FK_PublisherID_HE161914]
GO
ALTER TABLE [dbo].[Order_HE161914]  WITH CHECK ADD  CONSTRAINT [FK_Order_HE161914_Account_HE161914] FOREIGN KEY([aid])
REFERENCES [dbo].[Account_HE161914] ([id])
GO
ALTER TABLE [dbo].[Order_HE161914] CHECK CONSTRAINT [FK_Order_HE161914_Account_HE161914]
GO
ALTER TABLE [dbo].[OrderDetail_HE161914]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_HE161914_Book_HE161914] FOREIGN KEY([bid])
REFERENCES [dbo].[Book_HE161914] ([bid])
GO
ALTER TABLE [dbo].[OrderDetail_HE161914] CHECK CONSTRAINT [FK_OrderDetail_HE161914_Book_HE161914]
GO
ALTER TABLE [dbo].[OrderDetail_HE161914]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_HE161914_Order_HE161914] FOREIGN KEY([oid])
REFERENCES [dbo].[Order_HE161914] ([oid])
GO
ALTER TABLE [dbo].[OrderDetail_HE161914] CHECK CONSTRAINT [FK_OrderDetail_HE161914_Order_HE161914]
GO
USE [master]
GO
